<script type="text/ng-template" id="header">
  <nav class="clearfix">
    <div layout="row" class="nav-left-block">
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">Cleds</md-button>
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">知识库</md-button>
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">3D打印</md-button>
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">专属定制</md-button>
    </div>
    <div layout="row" class="nav-right-block">
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">加入/登陆</md-button>
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">意见反馈</md-button>
      <md-button flex class="nav-item md-btn-full" ng-href="//www.baidu.com">帮助</md-button>
    </div>
  </nav>
  <div layout="row" class="nav-title">
    <div flex="25" class="nav-title-left">
      <div class="icon"></div>
    </div>
    <div flex="50" class="nav-title-center md-display-1">LED照明产品专属定制</div>
    <div flex="25" class="nav-title=right">
      <div class="search-container">
        <input type="text" class="search" placeholder="搜索"/>
        <span></span>
      </div>
    </div>
  </div>
</script>