<html>
<header>
  <script src="//cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script>
</header>
<body>
<div class="register">
  <input id="username" type="text" placeholder="用户名"/>
  <input id="password" type="text" placeholder="密码"/>
  <button id="register">注册</button>
</div>

<script>
  $('#register').click(function(){
    $.ajax({
      url: '/register',
      data: {
        username: $('#username').val(),
        password: $('#password').val()
      },
      type: 'POST',
      success: function(data){
        console.log(data.message);
      }
    });
  });
</script>
</body>
</html>
