<script type ="text/ng-template" id="cPartTpl">
  <div class="c-part-tpl">
    <div class="content" layout="row">
      <div flex="75"></div>
      <div flex="25" layout="column">
        <div class="model-info" layout="column">
          <span flex>产品名称：***LED射灯</span>
          <span flex>价格：80元</span>
          <span flex>描述：***LED射灯</span>
        </div>
        <div class="model-parts" layout="column">
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
          <div class="part-select" layout="row">
            <span class="tag" flex="20"></span>
            <md-button class="btn md-raised md-cornered md-primary" flex="100">芯片模块</md-button>
          </div>
        </div>
        <div class="op" layout="column">
          <div layout="row" layout-sm="column" layout-align="center center">
            <md-button class="groupX left" ng-click="">上一步</md-button>
            <md-button class="groupX right" ng-click="">下一步</md-button>
          </div>
          <md-button class="c-btn md-raised md-warn">立即定制</md-button>
        </div>
      </div>
    </div>
    <div class="part-list" layout="row" layout-align="space-around center">
      <div class="part-item" flex="15" layout="column">
        <div class="img"></div>
        <p class="name">名称：***LED芯片</p>
        <md-button class="detail md-raised md-cornered md-warn">详情</md-button>
      </div>
      <div class="part-item" flex="15"></div>
      <div class="part-item" flex="15"></div>
      <div class="part-item" flex="15"></div>
      <div class="part-item" flex="15"></div>
      <div class="part-item" flex="15"></div>
    </div>
    <accordion-item class="part-info">
      <accordion-title class="section-title">
        <md-button class="btn-full btn-right">
          **零部件信息
          <svg-icon svg-id="{{Sprite.remove}}" class="btn-right-icon custom-btn-icon"></svg-icon>
        </md-button>
      </accordion-title>
      <accordion-content class="section-content">
        <br/>
        <br/>
        <br/>
        <br/>
      </accordion-content>
    </accordion-item>
  </div>
</script>

