.ic-add {
  width: 18px;
  height: 18px;
}

.ic-download {
  width: 18px;
  height: 18px;
}

.ic-favorite_border {
  width: 18px;
  height: 18px;
}

.ic-favorite_full {
  width: 18px;
  height: 18px;
}

.ic-home {
  width: 18px;
  height: 18px;
}

.ic-menu {
  width: 18px;
  height: 18px;
}

.ic-remove {
  width: 18px;
  height: 18px;
}

.ic-right {
  width: 18px;
  height: 18px;
}

.ic-search {
  width: 18px;
  height: 18px;
}

.ic-setting {
  width: 18px;
  height: 18px;
}

.ic-shopping {
  width: 18px;
  height: 18px;
}

.ic-upload {
  width: 18px;
  height: 18px;
}

