<script type ="text/ng-template" id="3dprintTpl">
  <div class="print">
    <section class="show">
      <div layout="row" layout-align="space-around center">
        <img src="../img/16.png"/>
        <img src="../img/15.png"/>
      </div>
      <div layout="row" layout-align="space-around center">
        <img src="../img/17.png"/>
        <img src="../img/18.png"/>
      </div>
    </section>
    <section class="progress">
      <h3 class="title">3D打印在线服务流程</h3>
      <div layout="row" layout-align="space-around center">
        <img src="../img/11.jpg"/>
        <img src="../img/12.jpg"/>
        <img src="../img/13.jpg"/>
        <img src="../img/14.jpg"/>
      </div>
    </section>
    <section class="bottom" flex layout="column" layout-align="space-around center" layout-padding>
      <md-button class="md-raised md-primary">联系我们</md-button>
      <div flex>phone：18321776133</div>
      <div flex>E-mail：648840731@qq.com</div>
    </section>
    <nav-fab></nav-fab>
  </div>

</script>

