.kl-part-manage{
  margin-bottom: 80px;
  .md-select-value *:first-child{
    font-size: 26px;
    color: #3084D7;
  }
}


.kl-part-list{
  .part-item{
    height: 45px;
    .groupX{
      margin: 0;
    }
  }
  .part-info{
    background-color: @light-grey;
    .part-attr{
      padding: 10px 0;
    }
  }
  .section-content{
    border-top: 0px;
    border-radius: 0px;
  }
}