<script type ="text/ng-template" id="dcListTpl">

  <ul class="dc-list">
    <li class="dc-item" ng-repeat="item in dc.collection">
      <div layout="row" >
        <div class="pic" flex="20">
          <img ng-src="{{item.imgUrl}}" alt=""/>
        </div>
        <div flex="40" layout="column" class="info">
          <h3>{{item.title}}</h3>
          <h5>{{item.fileName}}</h5>
          <p>{{item.updateTime | date : 'yyyy-MM-dd hh:mm:ss'}} 更新</p>
        </div>
        <div flex="5" class="size">{{item.fileSize | fileSizeFilter}}</div>
        <div flex="35" class="operate">
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-button class="groupX left" ng-click="switchDesc($index)">简介</md-button>
            <md-button class="groupX middle" ng-click="getDcFile(item.fileId)">下载</md-button>
            <md-button class="groupX right">修改</md-button>
          </section>
        </div>
      </div>
      <div class="row desc" ng-show="item.isShowDesc">
        <p class="indent">文档简介</p>
        {{item.desc}}
      </div>
      <md-divider></md-divider>
    </li>
  </ul>

  <div layout="row" layout-align="center">
    <pagination total="pagination.total" goto-page="pagination.gotoPage()" position="center" current-page="pagination.currentPage" step="pagination.step">
    </pagination>
  </div>
</script>
