<script type ="text/ng-template" id="knowledgeListTpl">
  <ul class="dc-list">
    <li class="dc-item">
      <div layout="row">
        <div class="pic" flex="20"></div>
        <div flex="40" layout="column" class="info">
          <h3>文档标题</h3>
          <p>2015年6月7日 更新</p>
        </div>
        <div flex="5" class="size">2.7M</div>
        <div flex="35" class="operate">
          <a>在线阅读&nbsp;|</a>
          <a>下载&nbsp;|</a>
          <a>修改</a>
        </div>
      </div>
      <md-divider></md-divider>
    </li>
  </ul>
</script>
