<script type ="text/ng-template" id="knowledgeTpl">
  <div class="knowledge-tpl" layout="row" ng-controller="KnowledgeCtrl">
    <div class="kl-nav" layout="column" flex="30">
      <div class="nav-header" flex="100">知识库</div>
      <md-divider></md-divider>
      <select-group selected-value="type.selectedName" class="nav-content" flex="100" layout="column">
        <select-item value="上传文档" is-selected="true" ui-sref="knowledge.upload">
          <md-button class="btn-full li">
            上传文档
          </md-button>
        </select-item>
        <!--<select-item value="搜索文档">-->
          <!--<md-button ng-class="{selected: search.selected}" class="btn-full li" ui-sref="knowledge.search">-->
            <!--搜索文档-->
          <!--</md-button>-->
        <!--</select-item>-->
        <select-item ng-repeat="item in type.collection" value="{{item.name}}" ui-sref="knowledge.list({typeId: item._id})">
          <md-button class="btn-full li" >
            {{item.name}}&nbsp;({{item.num}})
          </md-button>
        </select-item>
      </select-group>
    </div>
    <div class="kl-content" layout="column" flex="70">
      <div class="header">
        知识库&nbsp;|&nbsp;{{type.selectedName}}
      </div>
      <div class="content">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</script>

