<script type ="text/ng-template" id="partListTpl">
  <div class="kl-part-list">
    <div layout="row" layout-wrap layout-align="left center">
      <md-input-container class="model-type" flex="35">
        <label>零部件类型</label>
        <md-select ng-model="partType">
          <md-option ng-repeat="type in partTypes track by $index" ng-value="type" ng-selected="($index == 0) ? true:false">
            {{type.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <accordion-item>
      <accordion-title class="section-title">
        <md-button class="btn-full btn-right">
          {{partType.name}}零部件列表
          <svg-icon svg-id="{{Sprite.remove}}" class="btn-right-icon custom-btn-icon"></svg-icon>
        </md-button>
      </accordion-title>
      <accordion-content class="section-content">
        <div ng-repeat="item in part.collection">
          <div layout="row" layout-wrap layout-align="space-around center" class="part-item">
            <div flex="65">{{item | partNameFilter}}</div>
            <div flex="25" class="operate">
              <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="groupX left" ng-click="showInfo($index)">查看</md-button>
                <md-button class="groupX middle">修改</md-button>
                <md-button class="groupX right">删除</md-button>
              </section>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-wrap class="part-info" layout-align="space-around center" ng-show="item.isShowInfo">
            <div flex="35" class="part-attr" ng-repeat="attr in item.attrList">{{attr.name}}:{{attr.value}}</div>
            <iframe ng-src={{item.partViewerSrc}}  flex="35" class="part-attr" frameborder="0"></iframe>
            <md-divider flex="100"></md-divider>
          </div>
        </div>
      </accordion-content>
    </accordion-item>

    <div layout="row" layout-align="center">
      <pagination total="pagination.total" goto-page="pagination.gotoPage()" position="center" current-page="pagination.currentPage" step="pagination.step">
      </pagination>
    </div>
  </div>
  <!--<model-viewer class="part-view" model-url="view.partSrc"></model-viewer>-->
</script>